*{
    margin: 0;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
}
.header1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
}
.header1 p{
    font-size: 18px; 
    padding: 0px 25px;
}
.header2 {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.header2 a{
    text-decoration: none;
    color: black;
    padding: 0px 20px;
    font-weight: 700;
    font-size: 17px;
}
.header2 .sign{
    background-color: #00c805;
    padding: 5px 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
}
.header2 .sign:hover{
    background-color: lightgray;
    padding: 5px 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    color: white;
}
.con1 a{
    background-color: black;
    padding: 5px 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    color: white;
}
.con1 a:hover{
    background-color: lightgray;
    padding: 5px 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    color: black;
}
.con1 p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.24px;
    padding: 40px 0px;
}
.content{
    display: flex;
    background-color: #c0f13b;
    justify-content: center;
}
.con1{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con2{
    width: 40%;
    padding: 20px 60px;
}
.con2 img{
    width: 100%;
}
.middle{
    height: 80px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle p{
    font-size: 20px;
}
.content2{
    display: flex;
    border-bottom: 2px solid black;
}
.content2 img{
    width: 50%;
}
.txt2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
.tx2 h1{
    font-size: 45px;
    padding-bottom: 40px;
}
.tx2 p{
    font-size: 18px;
}
.cc1 {
    display: flex;
    
}
.con3{
    width: 70%;
    padding-left: 100px;
}
.content3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
span{
    font-size: 30px;
    font-family: 300;
}
.conn1 h1{
    padding: 40px 0px;
    padding-left: 20px;
}
.conn1 p{
    color: grey;
    padding: 20px 0px;
    padding-left: 20px;
}
.cc1 h1{
    font-size: 18px;
}
.img3{
    width: 27%;
}
.img3 img{
    width: 100%;
}
.t1 h1{
    padding: 10px 0px;
}
.t1 p{
    font-size: 20px;
    line-height: 30px;
}
.t1 {
    width: 27%;
    padding: 0px 20px;
}
.content4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 60px 0px;
    padding-right: 60px;
}
.content4 p{
    padding: 15px 0px;
}
.mcon1 {
    width: 27%;
    display: flex;
    justify-content: end;
    color: grey;
    font-size: 20px;
}
.mcon2{
    width: 27%;
}
.mcon3{
    width: 27%;
    color: white;
}
.mcon3 p{
    line-height: 50px;
}
.content4 img{
    width: 100%;
}
.mcon1 span{
    color: white;
    font-size: 20px;
}
.mcon1 span:hover{
    color: gray;
    font-size: 20px;
}
.d {
    text-align: end;
}
.cont2{
    display: flex;
    padding-bottom: 70px;
    padding-top: 40px;
}
.content5{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color: #f0ebe6;
}
.cont1 h1{
    font-size: 31px;
}
.cont2 p{
    font-size: 24px;
}
.gr {
    padding: 0px 18px;
    color: grey;
}
.cont2 .cr{
    color: red;
    padding-left: 15px;
}
.earn {
    width: 49%;
    line-height: 30px;
}
.contt2 img{
    width: 90%;
}
.cont1{
    padding-top: 40px;
}
.f1{
    display: flex;
}
li{
    list-style-type: none;
    padding: 13px 0px;
}
.table2, .table3{
    padding-left: 40px;
}
.footer{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 220px;
    padding-top: 40px;
}
.f2 {
    line-height: 30px;
    width: 30%;
}
.text {
    text-align: end;
}
.min {
    color: gray;
}
input{
    padding: 8px 150px 8px 20px;
    border-radius: 30px;
    background-color: #1e2124;
    color: lightgrey;
    margin: 10px 0px;
}
.footer1{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}
.f12{
    width: 68%;
    padding-right: 80px;
    border-top: 2px solid gray;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.footer1 p{
    padding: 10px 0px;
}
.imp{
    color: gray;
}
.gre{
    font-size: 16px;
    color: #00c805;
}